body {
}
a
{
	cursor: pointer;
}
.TextBox
{
	color: #666666;
	background: url(image/SearchTextBoxBackground.gif);
	border: 0px;
	border-right: solid 1px #000000;
	font-size: 9px;
	background-repeat: repeat-x;
	padding: 3px 3px 0px 0px;
	margin: 0px;
	width: 120px;
	height: 14px;
}
.TextBoxLeftImage
{
	 border: 0;
	 float: left; 
	 background: url('image/SearchTextBoxLeftSide.gif'); 
     background-repeat: no-repeat; 
     background-position: left; 
     height: 18px; 
     clear: none; 
     padding: 0px;  
     margin: 0px; 
}
.ListBox
{
	border: 0;
}
.BigWhiteButton
{
	color: White;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}
.MsgDiv
{
	padding-left: 20px;
}
.TextBoxLeftImage25
{ 
	 float: left; 
	 background: url('image/TextBoxLeft25.png'); 
     background-repeat: no-repeat; 
     background-position: left; 
     height: 25px; 
     clear: none; 
     padding: 0px; 
     padding-left: 5px; 
     margin: 0px; 
}
.TextBox25
{
	color: #666666;
	border: 0px;
	background: url(image/TextBoxBackground25.png);
	font-size: 12px;
	background-repeat: repeat-x;
	padding: 4px 4px 0px 0px;
	padding-top: 5px;
	margin: 0px;
	width: 290px;
	height: 25px;      /* 5px less than the acutal size.*/
}
.TextBoxLeftImage100
{ 
	 float: left; 
	 background: url('image/AdDescriptionLeftImage.png'); 
     background-repeat: no-repeat; 
     background-position: left; 
     height: 102px; 
     clear: none; 
     padding: 0px; 
     padding-left: 5px; 
     margin: 0px; 
}
.TextBox100
{
	color: #666666;
	border: 0px;
	background: url(image/AdDescriptionBackground.png);
	font-size: 12px;
	background-repeat: repeat-x;
	padding: 4px 4px 0px 0px;
	padding-top: 5px;
	margin: 0px;
	width: 290px;
	height: 100px;      /* 5px less than the acutal size.*/
}
.TopButton
{
	padding: 0px;
	margin: 0px;
}
.NavBarImage
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
}
.NavBarImage
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
}
.NavBarImageHome
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 65px;
	height: 27px;
	background-image: url(./image/HomeLink.png);
	border: none;
	cursor: pointer;
}
.NavBarImageHome:hover,
.NavBarImageHome:selected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 65px;
	height: 27px;
	background-image: url(./image/HomeLinkHover.png);
	border: none;
	cursor: pointer;
}
.NavBarImageHomeSelected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 65px;
	height: 27px;
	background-image: url(./image/HomeLinkHover.png);
	border: none;
	cursor: pointer;
}
.NavBarImageBlog
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 99px;
	height: 27px;
	background-image: url('./image/BlogAnEventLink.png');
	 border: none;
	 cursor: pointer;
}
.NavBarImageBlog:hover,
.NavBarImageBlog:selected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 99px;
	height: 27px;
	background-image: url('./image/BlogAnEventHover.png');
	border: none;
	cursor: pointer;
}
.NavBarImageBlogSelected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 99px;
	height: 27px;
	background-image: url('./image/BlogAnEventHover.png');
	border: none;
	cursor: pointer;
}
.NavBarImageAbout
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 49px;
	height: 27px;
	background-image: url('./image/About.png');
	border: none;
	cursor: pointer;
}
.NavBarImageAbout:hover,
.NavBarImageAbout:selected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 49px;
	height: 27px;
	background-image: url('./image/AboutSelected.png');
	border: none;
	cursor: pointer;
}
.NavBarImageAboutSelected
{
	padding: 0px;
	margin: 0px;
	border: solid 1px pink;
	width: 49px;
	height: 27px;
	background-image: url('./image/AboutSelected.png');
	border: none;
	cursor: pointer;
}
.NavBarImageCalendar
{
	padding: 0px;
	margin: 0px;
	width: 94px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/MyCalendarSelected.png');
	 border: none;
	 cursor: pointer;
}
.NavBarImageCalendar:hover,
.NavBarImageCalendar:selected
{
	padding: 0px;
	margin: 0px;
	width: 94px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/MyCalendar.png');
	border: none;
	cursor: pointer;
}
.NavBarImageCalendarSelected
{
	padding: 0px;
	margin: 0px;
	width: 94px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/MyCalendar.png');
	border: none;
	cursor: pointer;
}
.NavBarImageEvent
{
	padding: 0px;
	margin: 0px;
	width: 70px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/Events.png');
	 border: none;
	 cursor: pointer;
}
.NavBarImageEvent:hover,
.NavBarImageEvent:selected
{
	padding: 0px;
	margin: 0px;
	width: 70px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/EventsSelected.png');
	border: none;
	cursor: pointer;
}
.NavBarImageEventSelected
{
	padding: 0px;
	margin: 0px;
	width: 70px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/EventsSelected.png');
	border: none;
	cursor: pointer;
}
.NavBarImageVenue
{
	padding: 0px;
	margin: 0px;
	width: 65px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/VenuesLink.png');
	 border: none;
	 cursor: pointer;
}
.NavBarImageVenue:hover,
.NavBarImageVenue:selected
{
	padding: 0px;
	margin: 0px;
	width: 65px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/VenuesLinkHover.png');
	border: none;
	cursor: pointer;
}
.NavBarImageVenueSelected
{
	padding: 0px;
	margin: 0px;
	width: 65px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/VenuesLinkHover.png');
	border: none;
	cursor: pointer;
}
.NavBarImageAd
{
	padding: 0px;
	margin: 0px;
	width: 115px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/AdsClassifiedsLink.png');
	 border: none;
	 cursor: pointer;
}
.NavBarImageAd:hover,
.NavBarImageAd:selected
{
	padding: 0px;
	margin: 0px;
	width: 115px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/AdsClassifiedsSelected.png');
	border: none;
	cursor: pointer;
}
.NavBarImageAdSelected
{
	padding: 0px;
	margin: 0px;
	width: 115px;
	height: 27px;
	border: solid 1px pink;
	background-image: url('./image/AdsClassifiedsSelected.png');
	border: none;
	cursor: pointer;
}
.AddToLabel
{
	font-size: 10px;
	font-family: Arial;
	color: #1fb6e7;
}
.VenueName
{
	font-family: Arial;
	font-size: 16px;
	color: #1fb6e7;
	padding-bottom: 10px;
	font-weight: bold;
	text-decoration: none;
}
.EventHeader
{
	font-family: Arial;
	font-size: 30px;
	color: White;
	padding-bottom: 10px;
	margin: 0;
	font-weight: normal;
	text-decoration: none;
}
.EventHeaderBlue
{
	font-family: Arial;
	font-size: 30px;
	color: #1fb6e7;
	padding-bottom: 10px;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
}
.SearchLabel
{
	font-family:Arial;
	font-size: 16px;
	font-weight: bold;
	color: #a5c13a;
	text-decoration: none;
}
.VenueLabel
{
	font-family:Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #1fb6e7;
}
.NumLabel
{
	font-family:Arial;
	font-size: 12px;
	color: #cccccc;	
}
.DateTimeLabel
{
	color: White;
	font-size: 14px;
	font-style: italic;
	font-family: Arial;
}
.EventBody
{
	font-size: 12px;
	color: #cccccc;
	font-family: Arial;
	line-height: 20px;
	width: 440px;
}
.MessageBody
{
	font-size: 12px;
	color: #cccccc;
	font-family: Arial;
	line-height: 20px;
}
.AddLink
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
}
.AddPagerNextLink
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	position: absolute;
	right: 15px;	
}
.AddPagerPreviousLink
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	position: absolute;
	right: 90px;	
}
.AddPagerPreviousDisabled
{
	font-family: Arial;
	font-weight: bold;
	color: #93d6ef;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	position: absolute;
	right: 90px;	
	cursor: text;
}



.AddLinkNotBold
{
	font-family: Arial;
	color: #1fb6e7;
	font-size: 12px;
	text-decoration: none;
}

.PagerPipe
{
	color: White;
	position:absolute;
	right: 64px;
	font-size: 10px;
	font-weight: bolder;
}

.AddLinkNextDisabled
{
	font-family: Arial;
	font-weight: bold;
	color: #93d6ef;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	position: absolute;
	right: 15px;
	cursor: text;	
}

.AddLinkNextDisabled a:disabled
{
	font-family: Arial;
	font-weight: bold;
	color: #93d6ef;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	position: absolute;
	right: 15px;	
	cursor: text;
}

.PagesPager
{
	color: #cccccc;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	padding-left: 6px;
	padding-bottom: 11px;
}

.AddLinkDisabled
{
	font-family: Arial;
	font-weight: bold;
	color: #cccccc;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
}
.AddGreenLink
{
	font-family: Arial;
	font-weight: bold;
	color: #628e02;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
}
.AddWhiteLink
{
	font-family: Arial;
	font-weight: bold;
	color: White;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	cursor: pointer;
}
.AddLinkBig
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7;
	font-size: 16px;
	text-decoration: none;
	padding-bottom: 11px;
}
.Link
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7;
	text-decoration: none;
	padding-bottom: 11px;
}
.TagLink
{
	font-family: Arial;
	font-weight: bold;
	color: #b1a812;
	text-decoration: none;
	padding-bottom: 11px;
}
.AddLinkGoing
{
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
	color: #628e02;
	font-size: 16px;
	text-decoration: none;
	padding-bottom: 11px;
}
.Comment
{
	font-size: 11px;
	font-family: Arial;
	color: #cccccc;
	line-height: 20px;
}
.SayLabel
{
	font-size: 25px;
	font-family: Arial;
	color: White;
	padding-bottom: 5px;
}
.AddCommentTextBox
{
	background: url('image/AddCommentMiddle.jpg') repeat-y;
	/*background-image: url('image/AddCommentBackground.jpg');
	background-repeat: no-repeat;*/
	padding: 5px;
	border: none;
	width: 536px;
	height: 111px;
	background-color: White;
}
.FooterTitle
{
	font-family: Arial;
	font-size: 30px;
	color: White;
}
.OtherEventTitle
{
	font-family: Arial;
	font-size: 12px;
	color: #1fb6e7;
	font-weight: bold;
	text-decoration: none;
}
.PresentedByTitle
{
	font-family: Arial;
	font-size: 12px;
	color: White;
}
.OtherEventSummary
{
	font-family: Arial;
	font-size: 12px;
	color: #999999;
}
div#topDiv:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv {height: 1%;}

div.topDiv:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div.topDiv {height: 1%;}

/*hack for IE 7*/
* + html div.topDiv {height: 1%;}

div#topDiv2:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv3 {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv3 {height: 1%;}

div#topDiv3:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv3 {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv3 {height: 1%;}

div#topDiv4:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv4 {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv4 {height: 1%;}

div#topDiv5:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv5 {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv5 {height: 1%;}

div#topDiv6:after 
{
   content: "."; 
   display: block; 
   height: 0; 
   clear: both; 
   visibility: hidden;
}

/*hack for IE 6*/
* html div#topDiv6 {height: 1%;}

/*hack for IE 7*/
* + html div#topDiv6 {height: 1%;}

.AdTitle
{
	color: White;
	font-weight: bold;
	font-family: Arial;
	font-size: 14px;
	margin-top: 10px;
	text-decoration: none;
}
.AdBody
{
	color: #cccccc;
	font-family: Arial;
	font-size: 12px;
	line-height: 20px;
}
.ReadMoreLink
{
	 font-family: Arial; 
	 font-weight: bold;
	 color: #1fb6e7; 
	 font-size: 12px;
	 text-decoration: none;
}
.PollQuestion
{
	font-family: Arial;
	color: White;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
.AnswerList
{
	font-family: Arial;
	color: White;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
}
.EventTabStrip
{
	padding-left: 5px;
}

.EventDiv label
{
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
}
.EventDiv h1
{
	font-family: Arial;
	font-size: 30px;
	color: White;
	padding-bottom: 10px;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
}
.EventDiv h1.Green
{
	font-family: Arial;
	font-size: 20px;
	color: #628e02;
}
.EventDiv h1.Blue
{
	font-family: Arial;
	font-size: 20px;
	color: #1fb6e7;
}
.MessageDiv label
{
	font-family: Arial;
	font-size: 12px;
	color: White;
	margin-bottom: 3px;
}
.AspLabel
{
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
}

.FriendDiv label
{
	font-family: Arial;
	font-size: 14px;
	color: White;
	font-weight: bold;
}

.RegisterDiv label
{
	font-family: Arial;
	font-size: 12px;
	color: #cccccc;
}
.CheckText
{
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
}
.MusicCheckBoxes
{
	border: solid 4px #515151;
}
.ErrorLabel
{
	color: #3dc2ec;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
}
.ReLabel
{
	color: #999999;
	font-size: 14px;
	font-family: Arial;
}
.SendMessageModal
{
	background-color: Black;
}
.EventGoersLabel
{
	color: #1fb6e7;
	font-size: 16px;
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
}
.PageLinkSelected
{
	text-decoration: none;
	color: #93d6ef;
	padding: 0px;
	padding-bottom: 11px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
}
.PageLink
{
	text-decoration: none;
	color: #1fb6e7;
	padding: 0px;
	padding-bottom: 11px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
}
.CommaText
{
	text-decoration: none;
	color: #1fb6e7;
	padding-right: 3px;
	padding-bottom: 11px;
	font-size: 13px;
	font-family: Arial;
	font-weight: bold;
}
.TopPagerPanel
{
	padding-top: 6px;
	height: 18px;
	position: relative;
	background-color: #363636;
}
.BottomPagerPanel
{
	height: 21px;
	position: relative;
	background-color: #363636;
}
.SearchButtons
{
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 7px;
}
.SearchVenuePadding
{
	margin-left: 70px;
}
.PanelBarLabel
{
	font-family: Arial;
	font-size: 14px;
	color: #cccccc;
}
.MessageItem
{
	background-color: #333333;
	height: 35px;
	width: 860px;
}

.FriendPic
{
	padding: 10px;
}
.FriendEvent
{
	font-family: Arial;
	font-size: 20px;
	color: White;
}
.PreferencesTitle
{
	font-family: Arial;
	font-size: 20px !important;
	color: #1fb6e7 !important;
}
.PreferencesTitleAlt
{
	font-family: Arial;
	font-size: 20px !important;
	color: #a5c13a !important;
}
.Prefs div.Pad
{
	margin-bottom: 30px;
}
.WhiteHeader
{
	font-family: Arial; 
	font-size: 20px; 
	color: White;
	padding-bottom: 12px;
}
.PollQuestion
{
	font-family: Arial;
	font-size: 20px;
	color: #cccccc;
}
.AddressLabel
{
	font-family: Arial;
	font-size: 14px;
	color: White;
	font-style: italic;
}
.CalendarHeader
{
	font-family: Arial;
	font-size: 16px;
	color: White;
	text-decoration: none;
}
.CalendarTime
{
	font-family: Arial;
	line-height: 20px; 
	font-size: 16px;
	color: #262626;
}
.CalendarDescription
{
	color: #262626;
	font-size: 12px;
}
.SmallLink
{
	color: #1fb6e7; 
	font-family: Arial; 
	font-size: 10px; 
	text-decoration: none;
	font-weight: bold;
}
.CommentLabel
{
	color: #8ab813;
	font-weight: bold;
}
.HiddenDiv
{
	visibility: hidden;
}
.EventToolTip
{
	background-color: Black;
}

.rtsLevel a
{
	background-color: #2c2c2c;
	color: #999999;
	font-size: 14px;
	border: solid 1px #1b1b1b;
	height: 25px;
	text-decoration: none;
	font-family: Arial;
	margin: 5px;
}
.rtsLevel a:selected
{
	background-color: #363636;
	color: White;
	font-size: 14px;
	height: 26px;
	text-decoration: none;
	font-family: Arial;
	margin: 5px;
}

.FavoritesPanel
{
	padding: 7px;
	font-size: 12px;
	color: #cccccc;
	font-family: Arial;
	line-height: 20px;
	min-height: 666px;
	width: 260px;
	overflow: hidden;
}
.Padding
{
	padding-left: 20px;
	display: block;
}
.FriendMessage
{
	padding-left: 5px;
	padding-top: 5px;
	width: 440px;
	background-color: #1b1b1b;
	border: solid 4px #333333;
	height: 25px;
	vertical-align: middle;
}
div#BottomFooter a
{
	color: #cccccc;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 8px;
}
div#BottomFooter div#copy
{
	color: #cccccc;
	text-decoration: none;
	font-family: Arial;
	font-size: 12px;
}
.MailHeader
{
	border-top: solid 4px #fe7806;
	height: 50px;
	width: 560px;
	background-color: #333333;
	margin-bottom: 3px;
	
	cursor: pointer;
}

.MailContent
{
	width: 560px;
	background-color: #333333;
	margin-bottom: 3px;
}

.AdCss
{
	background: Transparent;
}

.TopHeaderImage
{
	padding: 0 7px 4px 0;
}

.rtsLevel a
{
	margin: 0px;
	padding: 0px;
}

.rtsImg
{
	border: 0;
}

.HomeDay
{
	text-transform: uppercase;
	color: White;
	font-family: Arial;
	font-size: 20px;
}
.HomeMonth
{
	color: #A467C2;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 12px;
}
.HomeNumber
{
	text-transform: uppercase;
	color: White;
	font-family: Arial;
	font-size: 35px;
	font-weight: bold;
}
.HomeEvent
{
	font-family: Arial;
	font-size: 20px;
	color: White;
}
.HomeSummary
{
	font-family: Arial;
	font-size: 12px;
	color: #cccccc;
}

.rtsLI
{
	background-color: #2c2c2c !important;
	background-image: none !important;
	font-size: 12px !important;
	color: #cccccc !important;
	font-family: Arial !important;
}

.rtsLevel1 .rtsOut
{
	background-image: none !important;
	padding: 0px !important;
	margin: 0px !important;
}

.rtsLink
{
	background-image: none !important;
	font-size: 20px !important;
	color: #999999 !important;
	font-family: Arial !important;
	outline: none !important;
	outline-width: 0px;
	outline-style: none;
	
}
.rtsSelected
{
	background-color: #363636;
	color: White !important;
	font-size: 14px;
	height: 26px !important;
	text-decoration: none;
	font-family: Arial;
	margin: 5px;
}
.rtsLevel a
{	
	border-left: solid 1px #1b1b1b;
	border-bottom: solid 1px #1b1b1b;
	border-top: solid 1px #1b1b1b;
}

.rtsLevel a.rtsSelected
{
	background-color: #363636 !important;
	/*background-image: none !important;*/
	/*color: White !important;*/
	border-left: solid 0px #1b1b1b !important;
	border-top: solid 0px #1b1b1b !important;
	border-bottom: solid 0px #1b1b1b !important;
}

.HigherItalic
{
	font-size: 20px;
	font-weight: bold;
	font-family: Pristina;
}

.RadioSelect:selected
{
	background-color: #666666;
}

.Paddings
{
	padding: 5px 10px 5px 10px;
}
.Paddings20
{
	padding: 20px;
}
.rpRootGroup
{
	padding: 0 !important;
}

.VenueCheckBoxes
{
	background-color: #1b1b1b;
}

.FloatRight
{
	float: right;
}

.radr_clipRegion
{
	position: absolute !important;
}

.RadTabStripLeft_Black .rtsLevel .rtsUL, 
.RadTabStripLeft_Black .rtsLevel .rtsLI
{
	width: 280px !important;
}
.RadTabStripLeft_Black .rtsLevel .rtsLI
{
	height: 45px;
	margin-top: 1px !important;
}
.RadTabStripLeft_Black .rtsLevel a
{
	height: 45px !important;
	border: 0 !important;
}

.MyTabs
{
	padding-top: 10px !important;
	color: #1fb6e7 !important;
	text-decoration: blink;
}



.MyTabsMessages
{
	background-image: url('images/MyMessages.png') !important;
	background-position: 12px !important;	
}

.MyTabsMessagesSelected
{
	background-image: url('images/MyMessagesHover.png') !important;
	background-position: 12px !important;	
}



.MyTabsFriends
{
	background-image: url('images/MyFriends.png') !important;
	background-position: 12px  !important;	
}

.MyTabsFriendsSelected
{
	background-image: url('images/MyFriendsHover.png') !important;	
	background-position: 12px  !important;	
}


.MyTabsPreferences
{
	background-image: url('images/MyPreferences.png') !important;
	background-position: 12px !important;	
}


.MyTabsPreferencesSelected
{
	background-image: url('images/MyPreferencesHover.png') !important;	
	background-position: 12px !important;	
}

.MyTabsSelected
{
	padding-top: 10px !important;
	color: #ff7401 !important;
}

.RadTabStrip_Black .rtsLi
{
	height: 30px;	
}

div.radwindow_Black table td.topleft
{
	background: none !important;
}

div.radwindow_Black table td.titlebar
{
	background: none !important;
}

div.radwindow_Black table td.topright
{
	background: none !important;
}

div.radwindow_Black table td.bodyleft
{
	background: none !important;
}


div.radwindow_Black table td.bodyright
{
	background: none !important;
}

div.radwindow_Black table td.footerleft
{
	background: none !important;
}

div.radwindow_Black table td.footerright
{
	background: none !important;
}

div.radwindow_Black table td.footercenter
{
	background: none !important;
}

div.radwindow_Black .windowcontent
{
	border: solid 3px black !important;	
}

.RadTabStripLeft_Black .rtsLink
{
	margin-left: 0 !important;
}

.MessageDiv h1
{
	color: White;
	font: 20px Arial, sans-serif;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}
.MessageDiv h4
{
	color: White;
	font: 16px Arial, sans-serif;
	font-weight: bold;
}
.OneMessage
{
	border-bottom: solid 3px #363636;
	color: #cccccc;
}
.OneMessageSelected
{
	border: 0 !important;
	color: #cccccc;
}
.OneMessageContent
{
	margin: 5px;
	width: 300px;
	color: #cccccc;
	padding: 0;
	line-height: 26px;
}
.RadPanelBar_Default .rpLink
{
	border-bottom: 0 !important;
}
.RadPanelBar_Default .rpExpanded
{
	border-top: 0 !important;
	
	border-bottom: 0 !important;
}

.RadPanelBar_Default .rpFirst .rpExpanded
{
	border-top: solid 1px #1fb6e7 !important;
	
	border-bottom: 0 !important;
}

.RadPanelBar_Default .rpFirst .rpLevel1
{
	
	border-bottom: 0 !important;
}
.RadPanelBar .rpItem
{
	border-bottom: solid 1px #1fb6e7 !important;	
}
.RadPanelBar .rpGroup .rpItem
{
	border-bottom: 0 !important;	
}
/*.RadPanelBar .rpLevel1
{
	border-bottom: solid 1px #1fb6e7 !important;	
}*/

.RadPanelBar_Default .rpRootGroup .rpTemplate
{
	background-color: #1b1b1b;	
}

.RadPanelBar_Default ul.rpRootGroup
{
	border: 0 !important;	
}

.RadPanelBar_Default
{
	background: none !important;
}

.RadTabStrip_Black .rtsLink
{
	font: 20px Arial !important;
}

.RadTabStripTop_Black .rtsLevel1 .rtsIn
{
	padding-top: 0px !important;	
}

.RadPanelBar_Default .rpGroup .rpLink, .RadPanelBar_Default .rpGroup .rpTemplate
{
	font-size: 13px !important;
}

.XButton
{
	background-image: 'url(~/image/XSelected.png)';
}
.XButton:hover
{
	background-image: 'url(~/image/X.png)';
}
.RadPanelBar_Default .rpGroup
{
	overflow: hidden !important;
}

.InputClass
{
	margin-top: 3px;
	border: 0;
	width: 300px; 
	height: 180px; 
	background-color: #666666; 
	padding: 5px;
	color: #1fb6e7;
}
.FloatLeft
{
	float: left;
}

.FloatRight
{
	float: right;
}

object.toHidde:hidden {
    position: absolute;
    left: -10000px;
}
toHidde.hidden
{
	position: absolute;
    left: -10000px;
}
object:hidden
{
	position: absolute;
    left: -10000px;
}
.ToolTipWrapper 
{
	border: solid 3px #1fb6e7;
	background-color: #333333 !important;
}
.ToolTipWrapper td
{
	background-color: #333333 !important;
}
table.ToolTipWrapper td.ToolTipRightMiddle {
width:15px !important;
}


div.radwindow_Office2007 table td.topleft
{
	background: none !important;
}

div.radwindow_Office2007 table td.titlebar
{
	background: none !important;
}

div.radwindow_Office2007 table td.topright
{
	background: none !important;
}

div.radwindow_Office2007 table td.bodyleft
{
	background: none !important;
}


div.radwindow_Office2007 table td.bodyright
{
	background: none !important;
}

div.radwindow_Office2007 table td.footerleft
{
	background: none !important;
}

div.radwindow_Office2007 table td.footerright
{
	background: none !important;
}

div.radwindow_Office2007 table td.footercenter
{
	background: none !important;
}

div.radwindow_Office2007 .windowcontent
{
	border: solid 3px #1fb6e7 !important;	
}

div.radwindow_Office2007 .titlerow
{
	display: none;
}
.RadCalendarPopup
{
	left:120px !important;
	top:60px !important;
}
.SearchButton
{
	cursor: pointer;
	font-weight: bold;
	padding:0;
	padding-bottom: 4px; 
	font-size: 11px;
	height: 30px; 
	width: 112px;
	background-color: transparent; 
	color: White; 
	background-image: url('image/PostButtonNoPost.png'); 
	background-repeat:no-repeat; 
	border: 0; 

}

.ResultsLabel
{
	font-family: Arial;
	font-size: 12px;
	color: #ff6b09;
}