body
{
	font-family: Arial;
	font-size: 12px;
	color: #cccccc;
	background-color: #686868;
}
a
{
	font-family: Arial;
	font-weight: bold;
	color: #1fb6e7 !important;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 11px;
	text-transform: none !important;
	text-decoration: none !important;
}