.RadTabStrip,
.RadTabStrip *,
.RadTabStripVertical,
.RadTabStripVertical *
{
	color: Red;
	text-decoration: none;	
	text-transform: none;
}

.RadTabStrip .rtsLevel
{
	clear:both;
	overflow: hidden;
	width: 100%;
	position: relative;
}

* html .RadTabStrip .rtsLevel
{
	position:static;
}

*+html .RadTabStrip .rtsLevel
{
	position:static;
}

.RadTabStrip .rtsScroll
{
	width: 10000px;
	white-space:nowrap;
}

/* clear float; for IE - inline-block display */
.RadTabStripVertical:after,
.RadTabStrip .rtsLevel .rtsUL:after,
.RadTabStripVertical .rtsLevel .rtsUL:after
{
	content: "."; 
	display: block; 
	height: 0;
	clear: both; 
	visibility: hidden;
}

.RadTabStrip .rtsUL
{
	margin:0;
	padding:0;
	overflow: hidden;
	float:left;
}

.RadTabStripVertical .rtsLevel
{
	overflow: hidden;
	height: 100%;
}

.RadTabStrip .rtsLI
{
	overflow: hidden;
	list-style-type:none;
	float:left;
	color: Red;
}

* html .RadTabStrip .rtsLI
{
	display:inline;
	zoom: 1;
	float:none;
}

*+html .RadTabStrip .rtsLI
{
	display:inline;
	zoom: 1;
	float:none;
}

.RadTabStripVertical .rtsLI
{
	float: none;
	display: -moz-inline-block;
	display: inline-block;
	list-style-type:none;
	overflow: hidden;
}

.RadTabStrip .rtsLink,
.RadTabStripVertical .rtsLink
{
	color: Red;
}

.RadTabStrip .rtsOut,
.RadTabStripVertical .rtsOut
{
	color: Red;
}

.RadTabStrip .rtsIn,
.RadTabStripVertical .rtsIn
{
	color: Red;
	/*width:100%;   /* IE hiding long text (required tab width however) */
}

.RadTabStrip .rtsPrevArrow,
.RadTabStrip .rtsNextArrow,
.RadTabStrip .rtsPrevArrowDisabled,
.RadTabStrip .rtsNextArrowDisabled
{
	font-size:0;
	display:block;
	text-indent:-9999px;
	outline:none;
}

.RadTabStrip .rtsCenter
{
	text-align: center;
}

.RadTabStrip .rtsImg
{
	border: none;
}
.RadTabStrip .rtsImg+.rtsTxt { display: -moz-inline-box; color: Red; }
.RadTabStrip .rtsTxt { display: inline-block; color: Red; }

.RadTabStrip .rtsRight .rtsUL
{
	float:right;
}

.RadTabStrip .rtsCenter .rtsUL
{
	display: -moz-inline-box;
	display: inline-block;
	float:none;
}

.RadTabStrip .rtsBreak
{
	height: 0;
	width: 0;
	font-size: 0;
	line-height: 0;
	display: block;
	clear: left;
	margin-top: -2px;
}

* html .RadTabStrip .rtsCenter .rtsUL { display: inline-block; }
* html .RadTabStrip .rtsCenter .rtsUL { display: inline; }

*+html .RadTabStrip .rtsCenter .rtsUL { display: inline-block; }
*+html .RadTabStrip .rtsCenter .rtsUL { display: inline; }

.RadTabStrip_rtl .rtsLI
{
	float:right;
}

* html .RadTabStrip_rtl .rtsLI
{
	float:none;
}

*+html .RadTabStrip_rtl .rtsLI
{
	float:none;
}

@media screen and (min-width:50px)
{
	:root .rtsScroll
	{
		width: auto;
	}
	
	:root .rtsLI
	{
		float:none;
		display: inline-block;
	}
}