.RadTabStrip_Office2007 .rtsLI,
.RadTabStrip_Office2007 .rtsLink
{
	color: #000;
}

.RadTabStrip_Office2007 .rtsLevel1 .rtsLI,
.RadTabStrip_Office2007 .rtsLevel1 .rtsLink
{
	color: #039;
}

.RadTabStripLeft_Office2007 .rtsUL .rtsLI,
.RadTabStripRight_Office2007 .rtsUL .rtsLI
{
	width: 100%;
    display: block;
}

.RadTabStripLeft_Office2007 .rtsLevel .rtsUL,
.RadTabStripRight_Office2007 .rtsLevel .rtsUL
{
	width: 150px; /* default width */
}

.RadTabStrip_Office2007 .rtsLevel
{
	background-color: #fff;
}

.RadTabStrip_Office2007 .rtsLevel1
{
	background: #bbd7fa url('TabStrip/Background.gif') repeat-x 0 100%;
}

.RadTabStrip_Office2007 .rtsLink
{
	text-decoration: none;
}

.RadTabStripTop_Office2007 .rtsOut,
.RadTabStripBottom_Office2007 .rtsOut
{
	text-align:center;
}

.RadTabStrip_Office2007 .rtsIn
{
	font: 11px/17px "segoe ui",arial,sans-serif;
	padding: 0 5px;
}

/* disabled tabs */

.RadTabStrip_Office2007 .rtsLevel1 .rtsDisabled,
.RadTabStrip_Office2007 .rtsLevel1 .rtsDisabled:hover
{
	color: #888;
	cursor: default;
}

.RadTabStrip_Office2007 .rtsDisabled,
.RadTabStrip_Office2007 .rtsDisabled:hover,
.RadTabStrip_Office2007_disabled .rtsDisabled,
.RadTabStrip_Office2007_disabled .rtsDisabled:hover
{
	color: #ccc;
	cursor: default;
}

.RadTabStripLeft_Office2007 .rtsLI .rtsIn,
.RadTabStripRight_Office2007 .rtsLI .rtsIn
{
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.RadTabStripLeft_Office2007 .rtsUL,
.RadTabStripRight_Office2007 .rtsUL
{
	width: 100%;
}

.RadTabStrip_Office2007 .rtsImg
{
	border:0;
	vertical-align:top;
	width: 16px;
	margin: 2px 0;
}

/* Scrolling */
.RadTabStrip_Office2007 .rtsNextArrow,
.RadTabStrip_Office2007 .rtsPrevArrow,
.RadTabStrip_Office2007 .rtsPrevArrowDisabled,
.RadTabStrip_Office2007 .rtsNextArrowDisabled
{
	height:19px;
	width:17px;
	background:transparent url('TabStrip/ScrollArrows.gif') no-repeat;
}

.RadTabStrip_Office2007 .rtsNextArrow { background-position: 100% 0; }
.RadTabStrip_Office2007 .rtsPrevArrow { background-position: 0 0; }
.RadTabStrip_Office2007 .rtsNextArrowDisabled { background-position: 100% 100%; }
.RadTabStrip_Office2007 .rtsPrevArrowDisabled { background-position: 0 100%; }

/* Orientation: Top */

.RadTabStripTop_Office2007 .rtsLink .rtsIn { line-height: 23px;  }

.RadTabStripTop_Office2007 .rtsLevel1 .rtsLink { padding-left: 5px; }
.RadTabStripTop_Office2007 .rtsLevel1 .rtsLink .rtsOut { padding-right: 5px; }

.RadTabStripTop_Office2007 .rtsLevel1 .rtsSelected { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 0 0; }
.RadTabStripTop_Office2007 .rtsLevel1 .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 100% 0; }

.RadTabStripTop_Office2007 .rtsLevel2 .rtsSelected { text-decoration: underline; }

.RadTabStripTop_Office2007 .rtsLevel1 .rtsUL { margin-top: 4px; }
.RadTabStripTop_Office2007 .rtsLevel2 .rtsIn { padding: 3px 10px 0; }

/* Orientation: Bottom */

.RadTabStripBottom_Office2007 .rtsLink .rtsIn { line-height: 23px;  }

.RadTabStripBottom_Office2007 .rtsLevel1 .rtsLink { padding-left: 5px; }
.RadTabStripBottom_Office2007 .rtsLevel1 .rtsLink .rtsOut { padding-right: 5px; }

.RadTabStripBottom_Office2007 .rtsLevel1 .rtsSelected { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 0 -60px; }
.RadTabStripBottom_Office2007 .rtsLevel1 .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 100% -60px; }

.RadTabStripBottom_Office2007 .rtsLevel2 .rtsSelected { text-decoration: underline; }

.RadTabStripBottom_Office2007 .rtsLevel1 .rtsUL { margin-bottom: 4px; }
.RadTabStripBottom_Office2007 .rtsLevel2 .rtsIn { padding: 0 10px; }

/* Orientation: Left */

.RadTabStripLeft_Office2007 .rtsLI { text-align: right;  }

.RadTabStripLeft_Office2007 .rtsLink .rtsIn { line-height: 30px;  }

.RadTabStripLeft_Office2007 .rtsLevel { float: left; }

.RadTabStripLeft_Office2007 .rtsLevel1 .rtsLink { padding-left: 10px; }

.RadTabStripLeft_Office2007 .rtsLevel1 .rtsSelected { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 0 -30px; }
.RadTabStripLeft_Office2007 .rtsLevel1 .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 100% -30px; }

.RadTabStripLeft_Office2007 .rtsLevel2 .rtsSelected { text-decoration: underline; }

.RadTabStripLeft_Office2007 .rtsLevel1 .rtsUL { padding: 4px 0; margin-left: 4px; }
.RadTabStripLeft_Office2007 .rtsLevel2 .rtsIn { padding: 0 10px; }

/* Orientation: Right */

.RadTabStripRight_Office2007 .rtsLink .rtsIn { line-height: 30px;  }

.RadTabStripRight_Office2007 .rtsLevel { float: right; }

.RadTabStripRight_Office2007 .rtsLevel1 .rtsLink { padding-left: 10px; }

.RadTabStripRight_Office2007 .rtsLevel1 .rtsSelected { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 0 -90px; }
.RadTabStripRight_Office2007 .rtsLevel1 .rtsSelected .rtsOut { background: transparent url('TabStrip/TabStripStates.gif') no-repeat 100% -90px; }

.RadTabStripRight_Office2007 .rtsLevel2 .rtsSelected { text-decoration: underline; }

.RadTabStripRight_Office2007 .rtsLevel1 .rtsUL { padding: 4px 0; margin-right: 4px; }
.RadTabStripRight_Office2007 .rtsLevel2 .rtsIn { padding: 0 10px; }