/*

RadTreeView Office2007 skin

* For notes on some CSS class names, please check RadTreeView common skin file *

*/

/* general styles */

.RadTreeView_Office2007,
.RadTreeView_Office2007 .rtEdit .rtIn input
{
	font:11px tahoma,verdana,sans-serif;
	color:#000;
	line-height:1.273em;
}

.RadTreeView_Office2007 .rtTop, 
.RadTreeView_Office2007 .rtMid, 
.RadTreeView_Office2007 .rtBot
{
	padding: 0 0 0 20px;
}

.RadTreeView_Office2007 .rtPlus, 
.RadTreeView_Office2007 .rtMinus
{
	margin:5px 8px 0 -17px;
	width:9px;
	height:9px;
}

.RadTreeView_Office2007 .rtPlus
{
	background: transparent url(TreeView/PlusMinus.gif) no-repeat 0 0;
}

.RadTreeView_Office2007 .rtMinus
{
	background: transparent url(TreeView/PlusMinus.gif) no-repeat 0 -9px;
}

.RadTreeView_Office2007 .rtSp
{
	height:18px;
}

.RadTreeView_Office2007 .rtChk
{
	margin: 0 2px;
	padding:0;
	width:12px;
	height:12px;
}

.RadTreeView_Office2007 .rtIn
{
	margin-left:3px;
	padding: 0 2px 1px;
	text-decoration:none;
}

/* endof general styles */

/*Three state checkboxes*/

.RadTreeView_Office2007 .rtIndeterminate
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 -26px;
}

.RadTreeView_Office2007 .rtChecked
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 0;
}

.RadTreeView_Office2007 .rtUnchecked
{
    background: transparent url(TreeView/TriState.gif) no-repeat 0 -13px ;
}
/* node states */

.RadTreeView_Office2007 .rtHover .rtIn
{
	color: #363636;
	text-decoration:underline;
}

.RadTreeView_Office2007 .rtSelected .rtIn
{
	color:#fff;
	background-color:#316ac5;
}

.RadTreeView_Office2007_disabled .rtIn,
.RadTreeView_Office2007 .rtDisabled .rtIn
{
	color:#ccc;
}

.RadTreeView_Office2007 .rtSelected .rtLoadingBelow
{
	color: #000;
}

/* endof node states */


/* in-line editing */

.RadTreeView_Office2007 .rtLI .rtEdit .rtIn
{
	border:1px solid #999;
	padding: 1px 1px 0;
	height:1.2em;
	background: #fff;
	text-decoration: none;
	text-decoration:none;
}

.RadTreeView_Office2007 .rtEdit .rtIn input
{
	height:1em;
	line-height:1em;
	border:0;
	margin:0;
	padding:0;
	background:transparent;
}

/* endof in-line editing */


/* drop targets */

.rtDropAbove_Office2007,
.rtDropBelow_Office2007
{
    border: 1px dotted black;
    font-size: 3px;
    line-height: 3px;
    height: 3px;
}

.rtDropAbove_Office2007
{
    border-bottom: 0;
}

.rtDropBelow_Office2007
{
    border-top: 0;
}

/* endof drop targets */


/* node lines */

.RadTreeView_Office2007 .rtLines .rtLI,
.RadTreeView_Office2007 .rtLines .rtFirst .rtUL
{
	background:url(TreeView/NodeSpan.gif) repeat-y 0 0;
}
.RadTreeView_Office2007_rtl .rtLines .rtLI,
.RadTreeView_Office2007_rtl .rtLines .rtFirst .rtUL
{
	background:url(TreeView/NodeSpan_rtl.gif) repeat-y 100% 0;
}

.RadTreeView_Office2007 .rtLines .rtFirst
{
    background:url(TreeView/FirstNodeSpan.gif) no-repeat 0 1.273em;
}
.RadTreeView_Office2007_rtl .rtLines .rtFirst
{
    background:url(TreeView/FirstNodeSpan_rtl.gif) no-repeat 100% 1.273em;
}

.RadTreeView_Office2007 .rtLines .rtFirst .rtUL
{
	background:url(TreeView/FirstNodeSpan.gif) repeat-y 0 1.273em;
}

.RadTreeView_Office2007_rtl .rtLines .rtFirst .rtUL
{
	background:url(TreeView/FirstNodeSpan_rtl.gif) repeat-y 100% 1.273em;
}

.RadTreeView_Office2007 .rtLines .rtLast,
.RadTreeView_Office2007 .rtLines .rtLast .rtUL
{
	background:none;
}

.RadTreeView_Office2007 .rtLines .rtTop
{
	background:url(TreeView/TopLine.gif) 0 0 no-repeat;
}
.RadTreeView_Office2007_rtl .rtLines .rtTop
{
	background:url(TreeView/TopLine_rtl.gif) 100% 0 no-repeat;
}

.RadTreeView_Office2007 .rtLines .rtLast .rtTop
{
	background:url(TreeView/SingleLine.gif) 0 0 no-repeat;
}

.RadTreeView_Office2007_rtl .rtLines .rtLast .rtTop
{
	background:url(TreeView/SingleLine_rtl.gif) 100% 0 no-repeat;
}

.RadTreeView_Office2007 .rtLines .rtMid
{
	background:url(TreeView/MiddleLine.gif) 0 0 no-repeat;
}
.RadTreeView_Office2007_rtl .rtLines .rtMid
{
	background:url(TreeView/MiddleLine_rtl.gif) 100% 0 no-repeat;
}

.RadTreeView_Office2007 .rtLines .rtBot
{
	background:url(TreeView/BottomLine.gif) 0 0 no-repeat;
}
.RadTreeView_Office2007_rtl .rtLines .rtBot
{
	background:url(TreeView/BottomLine_rtl.gif) 100% 0 no-repeat;
}

/* endof node lines */


/* rtl-specific styles */

/* firefox */
.RadTreeView_Office2007_rtl .rtPlus,
.RadTreeView_Office2007_rtl .rtMinus
{
	margin-right:-9px;
	right:-14px;
}

* html .RadTreeView_Office2007_rtl .rtPlus,
* html .RadTreeView_Office2007_rtl .rtMinus
{
	margin-right:-17px;
	right:0;
}

*+html .RadTreeView_Office2007_rtl .rtPlus,
*+html .RadTreeView_Office2007_rtl .rtMinus
{
	margin-right:-17px;
	right:0;
}

.RadTreeView_Office2007_rtl .rtTop,
.RadTreeView_Office2007_rtl .rtMid, 
.RadTreeView_Office2007_rtl .rtBot
{
	padding: 0 20px 2px 0;
	margin:0;
}

/* endof rtl-specific styles */


/* hacks for Opera & Safari */
@media screen and (min-width:550px)
{
	/* fixes for opera (changes the paddings/margins automatically in rtl mode) */

	html:first-child .RadTreeView_Office2007_rtl .rtPlus,
	html:first-child .RadTreeView_Office2007_rtl .rtMinus,
	html:first-child .RadTreeView_Office2007_rtl .rtFirst .rtLI .rtPlus,
	html:first-child .RadTreeView_Office2007_rtl .rtFirst .rtLI .rtMinus
	{
		margin:5px 8px 0 -17px;
		right:0;
	}
	
	/* fix for safari bug (inline-block positioned elements in rtl mode get no width) */
	:root .RadTreeView_Office2007_rtl .rtPlus,
	:root .RadTreeView_Office2007_rtl .rtMinus
	{
		right: 0;
		margin-right: -17px;
		margin-left: 8px;
	}
}

/* endof hacks */
